
h1{
    font-size: 150pt;
}
.btn-create-account{
    background-color: #29df75;
    color: white;
    border-radius: 20px;
    border: none;
    width: 150px;
    margin: 20px;
    padding: 5px;
}

.loginPage{
    font-family: Raleway-Regular;
    font-size: 12px;
    color: #29A2DF;
    
    text-decoration-line: underline;
    text-decoration-style: solid;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
  }